
<div id="edit-form">
    <%= form_for current_user do |f| %>
        <h2>Edit Profile</h2>
        
        <%= f.label :email %><br>
        <%= f.email_field :email %><br>
        
        
        <%= f.label :new_password %><br>
        <%= f.password_field :new_password %><br>

        <%= f.label :current_password %><br>
        <%= f.password_field :password %><br>

        <%= f.submit %>
    <% end %>
</div>