
<div class="user-form">

    <%= form_for user do |f| %>

        <%= f.label :email, url: url %><br>
        <%= f.email_field :email %><br>
        
        <%= f.label :password %><br>
        <%= f.password_field :password %><br>

        <% if action == "signup" %>
            <%= f.label :confirm_password %><br>
            <%= f.password_field :confirm_password %><br>
        <% end %>

        <%= f.submit "#{action == 'login' ? 'Login' : 'Signup'}" %>

    <% end %>

</div>