<div class="new-search-form">
    <div id="errors">

    </div>
    <%= form_for search, url: new_searches_path do |f| %>
    
        <%= f.label :url %><br>
        <%= f.text_field :url %><br>
        
        <%= f.label :description %><br>
        <%= f.text_area :description %><br>

        <%= f.submit "Define New Search" %>

    <% end %>
</div>