<div class="new-search-form">

<div id="instructions">
    <h1>Craigslist Notifier</h1>
    <p>Get email notifications for new Craigslist listings within minutes of them being posted. Go to <em><a class="cl-link" href="https://www.craigslist.org" target="_blank">Craigslist.org</a></em> and search for the items or listings you are looking for. Once you are happy with your search results, copy and paste the url below. Add a short description, and you're done! The craigslist notification app will watch the provided page and notify you of any new listings.</p>
</div>
    <div id="error-messages">

    </div>
    <%= form_for search, url: new_searches_path do |f| %>
    
        <%= f.label :url %><br>
        <%= f.text_field :url, placeholder: "(paste your craigslist link here)" %><br>
        
        <%= f.label :description %><br>
        <%= f.text_area :description, placeholder: "(a short description of the expected items on the page)" %><br>

        <%= f.submit "Watch This Page", id: "define_search" %>
        <em><h5><%= "all notifications will be sent to: #{current_user.email}" %></h5></em>
    <% end %>
</div>
