<div class="current_user" data-id=<%= @user.id %>
</div>


<%= render partial: 'new_search_form', locals: {search: Search.new}  %>

<h2 class="searches-heading">Manage Your Searches</h2>

<div class="searches">
        
</div>



<script id="card" type="text/x-handlebars-template">
    {{#each this}}
        
        <div class="search-card active-{{active}}" id="search-card-{{id}}">
            <div class="search-info">
                <h3>{{description}}</h3>
                {{#if active}}
                    <h5 class="card-status">Status: active</h5>
                {{else}}
                    <h5 class="card-status">Status: Inactive</h5>
                {{/if}}
            </div>
            <hr>
            <div class="card-interaction">
            
                <p>
                    <form class="edit-button card-buttons" action="/users/{{user_id}}/searches/{{id}}/edit" method="get" data-id="{{id}}">
                        <input type="submit" value="Edit">    
                    </form>                
                    |
                    <form class="toggle_form card-buttons" action="/toggle_active" method="post">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <input type="hidden" name="search[id]" value={{id}}>
                        {{#if active}}
                            <input type="submit" value="Deactivate">
                        {{else}}
                            <input type="submit" value="Activate">
                        {{/if}}
                    </form>
                    |
                    <form class="delete-button card-buttons" action="/users/{{user_id}}/searches/{{id}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">       
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>        
                        <input type="submit" value="Delete">    
                    </form>                
                </p>    
            </div>
                <a href={{url}} target="_blank">see this craiglist page</a>
            
        </div>
    {{/each}}
</script>

<script id="edit-form" type="text/x-handlebars-template">
    <form class="card-edit-form" action="/users/{{user_id}}/searches/{{id}}" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        
        <label for="url-{{id}}">URL:</label><br>
        <input type="text" name="search[url]" id="url-{{id}}" class="edit-url" value={{url}}><br>

        <label for="description-{{id}}">Description:</label><br>
        <textarea name="search[description]" id="description-{{id}}" class="edit-description">{{description}}</textarea><br>
        <p>
            <input type="submit" value="Save Edits" class="card-buttons">
            <button class="card-buttons delete-edits">Delete Edits</button>
        </p>
    </form>
</script>



<script>

    $(function(){
        getAllSearches();
    })

</script>

<script>
    createNewSearch();
</script>